CaffeModel/alexnet/bvlc_alexnet.caffemodel filter=lfs diff=lfs merge=lfs -text
CaffeModel/alexnet/pretrained.caffemodel filter=lfs diff=lfs merge=lfs -text
CaffeModel/googlenet/pretrained.caffemodel filter=lfs diff=lfs merge=lfs -text
CaffeModel/mobilenet/pretrained.caffemodel filter=lfs diff=lfs merge=lfs -text
CaffeModel/squeezenet/pretrained.caffemodel filter=lfs diff=lfs merge=lfs -text
CaffeModel/yolov2/pretrained.caffemodel filter=lfs diff=lfs merge=lfs -text
CaffeModel/faster_rcnn/pretrained.caffemodel filter=lfs diff=lfs merge=lfs -text
CaffeModel/lenet/pretrained.caffemodel filter=lfs diff=lfs merge=lfs -text
CaffeModel/resnet50/pretrained.caffemodel filter=lfs diff=lfs merge=lfs -text
CaffeModel/vgg/pretrained.caffemodel filter=lfs diff=lfs merge=lfs -text
